
body {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
        "header header header"
        "nav main main"
        "footer main main";
    gap: 10px;
    background-color: #1c4623 !important;
}


header {
    grid-area: header;
}

main {
    grid-area: main;
    margin: auto;
    color: #faf4f4;
    font-size: 20px;
    background-color: #4b2f0c;
    border: 20px #dfc38d double;
    padding: 20px 20px;
}


nav {
    grid-area: nav;
    font-size: 20px;
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: #4b2f0c;
    line-height: 3;
    border: 20px #dfc38d double;
    height: 50%;
}

.branding {
    border: 20px #dfc38d double;
    padding: 0px 0px -5px 0px;
}

    .branding img {
        height: 300px;
        width: 100%;
        object-fit: fill;
    }


h2 {
    color: #faf4f4;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 50px;
}



footer {
    grid-area: footer;
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: #4b2f0c;
    line-height: 2;
    color: #faf4f4;
    border: 20px #dfc38d double;
    height: 40%;
}


a:link {
    color: white;
}

a:visited {
    color: white;
}